{:migrators {:sql-mig           "joplin/migrators/sql"
             :sql-mig-extra     "joplin/migrators/sql/extrapath"
             :jdbc-mig-import   "resources/imported-migrators/jdbc"
             :jdbc-mig          "joplin/migrators/jdbc"
             :jdbc-mig-extra    "joplin/migrators/jdbc/extrapath"}
 :seeds     {:sql-seed          "seeds.sql/run"
             :seed-import       "imported-seeds.sql/run"}
 :databases {:sql-dev        {:type :sql, :url "jdbc:h2:file:./h2/dev"}
             :sql-dev-extra  {:type :sql, :migrations-table "ragtime_migrations_extra", :url "jdbc:h2:file:./h2/dev"}
             :jdbc-dev       {:type :jdbc, :url "jdbc:h2:file:./h2/analysis"}
             :jdbc-import    {:type :jdbc, :migration-table "migrations", :url "jdbc:h2:file:./h2/web"}
             :psql-dev       {:type :sql, :url #envf ["jdbc:postgresql://%s/test?user=postgres&password=password" TARGET_HOST]}
             :psql-prod      {:type :sql, :url #envf ["jdbc:postgresql://psq-prod/prod?user=%s&password=%s" PROD_USER PROD_PASSWD]}}
 :environments {:dev  [{:db :sql-dev, :migrator :sql-mig, :seed :sql-seed}
                       {:db :sql-dev-extra, :migrator :sql-mig-extra, :seed :sql-seed}
                       {:db :jdbc-dev, :migrator :jdbc-mig, :seed :sql-seed}
                       {:db :jdbc-import, :migrator :jdbc-mig-import, :seed :seed-import}
                       {:db :psql-dev, :migrator :sql-mig, :seed :sql-seed}]
                :prod [{:db :sql-prod, :migrator :imported-sql-mig, :seed :imported-sql-seed}]}}
