{:migrators {:es-mig           "joplin/migrators/es"
             :es-data-mig      "joplin/migrators/esdata"
             :sql-mig          "joplin/migrators/sql"
             :sql-mig-extra    "joplin/migrators/sql/extrapath"
             :jdbc-mig-import  "resources/imported-migrators/jdbc"
             :sql-mig-import   "resources/imported-migrators/sql"
             :jdbc-mig         "joplin/migrators/jdbc"
             :jdbc-mig-extra   "joplin/migrators/jdbc/extrapath"
             :hive-mig         "joplin/migrators/hive"
             :cass-mig         "joplin/migrators/cass"
             :dt-mig           "joplin/migrators/datomic"
             :dynamo-mig       "joplin/migrators/dynamo"
             }

 :seeds     {:es-seed           "seeds.es/run"
             :sql-seed          "seeds.sql/run"
             :imported-sql-seed "imported-seeds.sql/run"
             :cass-seed         "seeds.cass/run"
             :dt-seed           "seeds.dt/run"
             :zk-seed           "seeds.zk/run"
             :dynamo-seed       "seeds.dynamo/run"
             }

 :databases {:dt-dev         {:type :dt, :host #envf ["datomic:free://%s:4334/test" TARGET_HOST]}
             :sql-dev        {:type :sql, :url "jdbc:h2:file:./h2/dev"}
             :sql-dev-extra  {:type :sql, :migrations-table "ragtime_migrations_extra", :url "jdbc:h2:file:./h2/dev"}

             :cass-dev       {:type :cass, :hosts [#env TARGET_HOST], :keyspace "test"}
             :jdbc-dev       {:type :jdbc, :url "jdbc:h2:file:./h2/analysis"}
             :jdbc-import    {:type :jdbc, :migrations-table "ragtime_migrations_extra", :url "jdbc:h2:file:./h2/analysis"}
             :zk-dev         {:type :zk, :host #env TARGET_HOST, :port 2181, :client :curator}
             :zk-prod        {:type :zk, :host "zk-prod", :port 2181, :client :exhibitor}

             :es-dev         {:type :es, :host #env TARGET_HOST, :port 9200}
             :es-dev-data    {:type :es, :host #env TARGET_HOST, :port 9200 :migration-index "migrations-data"}
             :es-prod        {:type :es, :host "es-prod", :port 9200}
             :psql-dev       {:type :sql, :url #envf ["jdbc:postgresql://%s/test?user=postgres&password=password" TARGET_HOST]}
             :psql-prod      {:type :sql, :url #envf ["jdbc:postgresql://psq-prod/prod?user=%s&password=%s" PROD_USER PROD_PASSWD]}

             :hive-dev       {:type :hive, :host #env TARGET_HOST, :subnamef "//%s:10000/default"}
             :dynamo-dev     {:type :dynamo, :access-key "foo", :secret-key "bar" :endpoint #envf ["http://%s:8000" TARGET_HOST]}
             }

 :environments {:dev  [{:db :dt-dev, :migrator :dt-mig, :seed :dt-seed}
                       {:db :sql-dev, :migrator :sql-mig, :seed :sql-seed}
                       {:db :sql-dev-extra, :migrator :sql-mig-extra}

                       {:db :cass-dev, :migrator :cass-mig, :seed :cass-seed}
                       {:db :jdbc-dev, :migrator :jdbc-mig, :seed :sql-seed}
                       {:db :jdbc-import, :migrator :jdbc-mig-import, :seed :seed-import}
                       {:db :zk-dev, :seed :zk-seed}

                       {:db :psql-dev, :migrator :sql-mig, :seed :sql-seed}
                       {:db :es-dev, :migrator :es-mig, :seed :es-seed}
                       ;; the same as :es-dev, to enable multiple migration tables
                       {:db :es-dev-data, :migrator :es-data-mig}

                       {:db :hive-dev, :migrator :hive-mig}
                       {:db :dynamo-dev, :migrator :dynamo-mig, :seed :dynamo-seed}
                       ]

                :prod [{:db :zk-prod}

                       {:db :sql-prod, :migrator :imported-sql-mig, :seed :imported-sql-seed}
                       {:db :es-prod, :migrator :es-mig, :seeds :es-seed}
                       ]
                }
 }
